.env
downloaded_images/
./downloaded_images/
temp_resized_images/
./temp_resized_images/
videos/
./videos/
./.venv/
.venv/
scripts/
./scripts
./scripts/
.temp/
credentials.json
token.pickle
app.log
*.log
www.tiktok.com_cookies.txt
tiktok_matrix_cookies.txt
temp_audio.mp3 
backend\.venv

./backend/.venv